#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#wrapper {
  height: 100vh;
  overflow: hidden;
}

#page-content {
  overflow-y: auto;
}

#sidebar .nav-link {
  padding: 10px 15px;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#sidebar .nav-link:hover {
  background-color: #495057;
  color: #fff;
}

#sidebar .nav-link.active {
  background-color: #0d6efd;
  color: #fff;
  font-weight: bold;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}
